@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: aliceblue;
    color: rgb(91, 55, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 18 px;
    font-weight: normal;

}

.info-text p {
    font-style: oblique;
    font-weight: 600;

}

.card {
    border: 1px solid burlywood;
    border-radius: 25px;

}

.bg-yelow {
    background: #f8ebaa;
}

.bg-red {
    background: rgb(238, 150, 150);
}

.bg-green {
    background: #5dfc8f;
}